@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		text-decoration: none;
}
.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin:  auto;
}

/* Style for Navigation Bar */
.navbar{
	position: fixed;
	width: 100%;
	padding: 15px 0;
	font-family: 'Edu', poppins;
	background: rgb(8, 61, 119); 
	z-index: 1;
}
.navbar.sticky{
	padding: 15px;
	background:rgb(235, 235, 211);
}
.navbar .max-width{
	display: flex;
	align-items:  center;
	justify-content: space-between;
}
.navbar .logo a{
	color: rgb(249, 87, 56);
	font-size: 50px;
	font-weight: 600;
}
.navbar .logo a:hover{
	color: rgb(244, 211, 94);
}
.navbar .logo a span{
	color: rgb(238, 150, 75);
}
.navbar .logo a span:hover{
	color: rgb(249, 87, 56);
}
.navbar .menu li{
	list-style: none;
	display: inline-block;
}
.navbar .menu li a{
	display: block;
	color: rgb(249, 87, 56);
	font-size: 20px;
	font-weight: 600;
	margin-left: 30px;
	transition: all 0.3s ease;
}
.navbar .menu li a:hover{
	color: rgb(244, 211, 94);
}
/*Menu Button */
.menu-btn{
	cursor: pointer;
}

/* Style for Home Section */
.home{
	display: flex;
	background: url("images/banner1.jpg")repeat center;
	height: 100vh;
	color: rgb(8, 61, 119);
	min-height: 600px;
	max-height: 720px;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Edu', poppins;
}
.home .max-width{
	margin: auto 0 auto 30px;
}
.home .home-content .text-1{
	font-size: 25px;
}
.home .home-content .text-2{
	font-size: 50px;
	font-weight: 700;
	margin-left: -3px;
}
.home .home-content .text-3{
	font-size: 25px;
}
.home .home-content a{
	display: inline-block;
	background: rgb(235, 235, 211);
	color:  rgb(238, 150, 75);
	font-size: 15px;
	padding: 12px 36px;
	margin-top: 5px;
	border-radius: 	50px;
	transition: all 0.15s linear;
}
.home .home-content a:hover{ 
	color: white;
	background: rgb(244, 211, 94);
}

/* Style for About Section */
section{
	padding: 100px 0;
}
.about{
	display: flex;
	background: url("images/banner-5a.jpg") repeat center;
	background-size: cover;
	background-attachment: scroll;
	font-family: "QLD", poppins;
}
.about .title{
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;
}
.about .about-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.about .about-content .left{
	width: 45%
}
.about .about-content .left img{
	height: 320px;
	width: 280px;
	object-fit: cover;
	border-radius: 18px;
}
.about .about-content .right{
	width: 55%
}
.about .about-content .right .text{
	margin-bottom: 20px
}
.about .about-content .right p{
	font-size: 20px;
	text-align: justify;
}
/* Style for services Section*/
.services{
	color: black;
	background: tomato;
}
.services .title{
	font-family: 'QLD', poppins;
	color: white;
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;
}
.services .services-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 20px 25px;
}
.services .services-content .card{
	width: calc(45% - 20px);
	background: white;
	border-radius: 6px;
	padding: 20px 25px;
	text-align: center;
	font-family: 'QLD', poppins;
}
.services .services-content .card:hover{
	background: rgb(235, 235, 211);
}
.services .services-content .card .box{
	transition: all 0.3s ease;
}
.services .services-content .card .box:hover{
	transform: scale(1.05);
}
.desc{
	text-align: left;
	font-size: 14px;
}
.services .services-content .btn{
	background: rgb(8, 61, 119);
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -.5px;
	line-height: 10px;
	max-width: 100%;
	min-width: 200px;
	outline: none;
	padding: 18px 0;
	text-align: center;
	text-transform: uppercase;
	transition: .2s ease-in-out,color .2s ease-in-out .1s;
	border-color: ease-in-out;
	white-space: normal;
	width: auto;
}
.services .services-content .card img{
	height: 160%;
	width: 96%;
	border-radius: 6px;
}
.services .services-content .text{
	font-family: 'QLD', poppins;
	font-size: 25px;
	font-weight: 600;
	margin: 10px 0;
}
.services .services-content p{
	font-family: 'QLD', poppins;
	font-size: 18px;
}

/* Style for Skills Section*/
.skills{
	display: flex;
	background: url("images/banner-3.jpg") repeat center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'QLD', poppins;
}
.skills .title{
	font-family: 'QLD', poppins;
	text-align: center;
	font-size: 30px;
	padding-bottom: 50px;
}
.skills .skills-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.skills .skills-content .column{
	width: calc(50% - 30px)
}
.skills .skills-content .left .text{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
}
.skills .skills-content .left p{
	text-align: justify;
	font-size: 18px;
}
.skills .skills-content .left a{
	display: inline-block;
	background: rgb(235, 235, 211);
	color: rgb(238, 150, 75);
	font-size: 20px;
	font-family: 'QLD', poppins;
	padding: 12px 36px;
	margin-top: 30px;
	border-radius: 20px;
}
.skills .skills-content .left a:hover{
	font-family: 'QLD', poppins;
	color: white;
	background: rgb(244, 211, 94);
}
.skills .skills-content .right .bar{
	margin-bottom: 15px;
}
.skills .skills-content .right .info{
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}
.skills .skills-content .right .info:hover{
	color: orange;
}
.skills .skills-content .right span{
	font-weight: 600;
	font-size: 18px;
	padding: 5px;
}
.skills .skills-content .right .line{
	height: 10px;
	width: 100%;
	background: lightgray;
	position: relative;
}
.skills .skills-content .right .line::before{
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	background: red;
}
.skills-content .right .html::before{
	width: 90%;
}
.skills-content .right .css::before{
	width: 90%;
}
.skills-content .right .js::before{
	width: 82%;
}
.skills-content .right .php::before{
	width: 80%;
}
.skills-content .right .mysql::before{
	width: 80%;
}
.skills-content .right .ps::before{
		width: 95%;
}

/*contact styling */
.contacts{
	display: flex;
	background: url("images/banner-4.jpg") repeat center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'QLD', poppins;
}
.contacts .title{
	font-family: 'QLD', poppins;
	text-align: center;
	font-size: 30px;
	padding-bottom: 110px;
}
.contacts .contact-content{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.contacts .contact-content .column{
	width: calc(50% - 30px)
}
.contacts .contact-content .column .text{
	color: red;
	font-size:  25px;
	font-weight: 600;
	margin: 10px 0;
}
.contacts .contact-content .left p{
	font-size: 18px;
	text-align: justify;
}
.contacts .contact-content .row{
	display: flex;
	height: 65px;
	align-items: center;
}
.contacts .contact-content .row .info{
	margin-left: 30px;
}
.contacts .contact-content .left img{
	height: 20px;
	width: 20px;
}
.contacts .contact-content .info .head{
	color: red;
	font-weight: 600;
	padding: 5px 0;
}
.contacts .contact-content .info .sub-title{
	font-weight: 600;	
}
.contacts .right form .fields{
	display: flex;
}
.contacts .right form .field,
.contacts .right form .fields, .field{
	height: 45px;
	width: 100%;
	margin-bottom: 10px;
}
.contacts .right form .textarea{
	height: 80px;
	width: 100%;
}
.contacts .right form .name{
	margin-right: 10px;
}
.contacts .right form .email{
	margin-left: 10px;
}
.contacts .right form .field input,
.contacts .right form .textarea textarea{
	height: 100%;
	width: 100%;
	border: 1px solid lightgray;
	border-radius: 6px;
	outline: none;
	padding: 0 15px;
}
.contacts .right form .field input:focus,
.contacts .right form .textarea textarea:focus{
	border-color: red;
}
.contacts .right form .textarea textarea{
	padding-top: 10px;
	resize: none;
}
.contacts .right form .button{
	height: 50px;
	width: 180px;
}
.contacts .right form .button button{
	width: 100%;
	height: 100%;
	background: rgb(235, 235, 211);
	border: 0px solid rgb(238, 150, 75);
	outline: none;
	color: rgb(238, 150, 75);
	font-family: 'QLD', poppins;
	font-size: 18px;
	border-radius: 6px;
	cursor: pointer;
}
.contacts .right form .button button:hover{
	font-family: 'QLD', poppins;
	color: white;
	border: 2px solid white;
	background: rgb(244, 211, 94);
}

/*Footer Styling */
footer{
	font-family: 'QLD', poppins;
	color: white;
	background: black;
	text-align: center;
	padding: 20px 25px;
}
footer span a{
	color: rgb(244, 211, 94);
}
footer span a:hover{
	text-decoration: underline;
}

/* Responsive Media Query */
@media (max-width: 1920px){
	.home .max-width{
		margin-left: 0px;
	}
	.menu-btn{
		display: none;
		z-index: 999;
	}
}
@media (max-width: 1140px){
	.about .about-content .left img{
		height: 420px;
		width: 350px
	}
}

@media (max-width: 991px)	{
	.max-width{
		padding: 0 50px;
	}
}

@media (max-width: 947px){
	.menu-btn{
		display: block;
		z-index: 999;
	}
	.navbar .menu{
		position: fixed;
		height: 80vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: black;
		opacity: 90%;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}

	.navbar .menu.active{
		left: 0;
	}
	.navbar .menu li{
		display: block;
	}
	.navbar .menu li a{
		display: inline-block;
		margin: 20px;
		font-size: 25px;
	}
	.home .home-content .text-2{
		font-size: 35px;
	}
	.home .home-content a{
		font-size: 18px;
		padding: 10px 30px;
	}
	.max-wdith{
		max-width: 930px;
	}
	.about .about-content .column{
		width: 100%;
	}
	.about .about-content .left{
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}
	.about .about-content .right{
		flex: 100%; 
	}
	.services .services-content .card{
		width: calc(50% - 10px);
		margin-bottom: 35px;
	}
	.skills .skills-content .column,
	.contacts .contact-content .column{
		width: 100%;
		margin-bottom: 35px;
	}
}
@media (max-width: 690px)	{
	.max-width{
		padding: 0 23px;
	}
	.services .services-content .card{
		width: 100%;
	}
}
@media (max-width: 500px){
	.contact .right form .fields{
		flex-direction: column;
	}
	.contacts .right form .name,
	.contacts .right form .email{
		margin: 0;
	}
}
.maintenance_page {
	padding-top: 100px;
}